<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @edge.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @edge.source %>
</p>

<p>
  <strong>Destiny:</strong>
  <%= @edge.destiny %>
</p>

<p>
  <strong>Value:</strong>
  <%= @edge.value %>
</p>

<%= link_to 'Edit', edit_edge_path(@edge), class: "btn btn-warning btn-sm"%> |
<%= link_to 'Back', edges_path, class: "btn btn-default btn-sm" %>
